.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  height: 50px;
}

.label {
  display: flex;
  width: 25%;
  text-transform: capitalize;
  font-size: 1.1em;
}

.starSpan {
  color: green;
  margin-left: 0.3em;
}

.inputDiv {
  display: flex;
  align-items: center;
  gap: 0.5px;
}

.inputDiv input {
  border: 1px solid #d7d9db;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  font-weight: 500;
  font-size: 0.9em;
  width: 100%;
}

.error {
  margin-left: 25%;
  font-size: 0.7em;
  color: red;
}
