.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.search {
  display: flex;
  width: 300px;
  padding: 0.3em 1em;
  border-radius: 1.3em;
  background-color: white;
  border: 1px solid #cfd0d1;
  transition: all 0.3s ease-in-out;
}

.search:hover {
  border-color: #fbfff1;
  box-shadow: 1px 1px 10px 0px #c5c5c5;
}

.searchIcon {
  font-size: 1.5em;
  color: var(--blue-color);
}

.header input {
  width: 100%;
  background-color: unset;
  margin-left: 0.5em;
}

.header input::placeholder {
  color: rgb(179, 176, 176);
}

.buttons {
  display: flex;
  gap: 0.5em;
}

.buttons .button {
  padding: 0.3em 1em;
  border-radius: 1.3em;
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  background-color: white;
  transition: all 0.3s ease;
}

.buttons .button:hover {
  border-color: #fbfff1;
  box-shadow: 1px 1px 10px 0px #c5c5c5;
}
