:root {
  --blue-color: #2867b2;
  --light-blue: rgba(198, 220, 233, 0.5);
  --red-color: #d50032;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(198, 220, 233, 0.5);
  display: flex;
  justify-content: center;
  max-width: 1300px;
}

input {
  border: 0;
  outline: none;
}

button {
  border: 0;
  cursor: pointer;
  background-color: unset;
}

ul {
  list-style: none;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 850px;
  margin: 20px auto;
  transition: all 0.3s ease;
}
.contacts-box {
  background-color: var(--blue-color);
  padding: 0.9em 0 0.9em 2em;
  margin-top: 2em;
  border-radius: 0.9em;
  box-shadow: 1px 1px 10px 0px #424242;
}

.contacts-container {
  background-color: #fbfff1;
  padding: 1.5em 2.5em;
  border-top-left-radius: 0.9em;
  border-bottom-left-radius: 0.9em;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: var(--blue-color);
    box-shadow: 32px 0 var(--blue-color), -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 var(--blue-color), -32px 0 var(--blue-color);
  }
  100% {
    background-color: var(--blue-color);
    box-shadow: 32px 0 #fff, -32px 0 var(--blue-color);
  }
}

@media screen and (max-width: 940px) {
  .container {
    width: calc(100% - 40px);
  }

  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 80%;
  }
}
